<div class="has-absolute-position has-top-right-position">
    <form id="itemForm" action="#" method="POST">
        <button
            type="submit"
            class="add-button button is-primary is-rounded is-outlined"
        >
            <ion-icon
                size="small"
                name="add-outline"
                aria-hidden="true"
                style="color: var(--primary)"
            ></ion-icon>
            <span class="is-uppercase has-text-weight-bold">ADD TO CART</span>
        </button>
    </form>
</div>
