<nav class="level is-uppercase has-text-weight-bold is-size-6 mb-5">
    <div
        class="level-start is-flex-desktop is-inline-mobile is-justify-content-center is-vcentered mx-3"
    >
        <a
            class="level-item {% if not active_category %} is-active {% endif %}"
            href="{{ url_for('products.show_products')}}"
        >
            All
        </a>
        {% for category in categories %}

        <a
            class="level-item {% if category['name'] == active_category %} is-active {% endif %}"
            href="/products?category={{ category['name'] | lower }}"
        >
            {{ category['name'] }}
        </a>

        {% endfor %}
    </div>

    <div
        class="level-end is-flex-desktop is-inline-mobile is-justify-content-center"
    >
        <a class="level-item button is-warning is-outlined is-rounded" href="#">
            Create Your Own
        </a>
    </div>
</nav>
