{% extends 'general/base.html' %} {% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-1-desktop"></div>
                <div
                    class="column is-10-desktop is-fullwidth-tablet is-fullwidth-mobile is-centered"
                >
                    {% for item in cart_items %}
                    <div
                        class="columns is-flex is-justify-content-center has-text-centered"
                    >
                        <div class="column is-1">
                            <figure>
                                <img
                                    scr="{{ url_for('static', filename=item.product_img) }}"
                                    alt="{{ item.product_title | replace(' ','-') | lower }}-img "
                                />
                            </figure>
                        </div>

                        <div class="column is-4">
                            <p>{{ item.product_title }}</p>
                        </div>

                        <div class="column is-1">
                            <p>{{ item.option_name }}</p>
                        </div>
                        <div class="column is-1">
                            <p>
                                {{ '%.2f' | format(item.price * item.coefficient
                                * item.quantity) }}
                            </p>
                        </div>
                        <div class="column is-1">
                            <ion-icon name="remove-outline"></ion-icon>
                        </div>
                        <div class="column is-1">
                            <p>{{ item.quantity }}</p>
                        </div>
                        <div class="column is-1">
                            <ion-icon name="add-outline"></ion-icon>
                        </div>
                        <div class="column is-1">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                        <br />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
