{% extends 'general/base.html' %} {% block content %}

<section class="hero is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-1-desktop"></div>
                <div
                    class="column is-10-desktop is-fullwidth-tablet is-fullwidth-mobile is-centered is-relative"
                >
                    {% include 'cart/cart_table.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
