

<form id="itemForm" action="#" method="POST">
    <div id="content1">
        <button type="submit" class="add-button button is-primary is-rounded is-outlined has-text-weight-bold">
            <img src="{{ url_for('static', filename='img/add-outline.svg')}}" alt="add"/>
            ADD TO CART
        </button>
    </div>
</form>

<div id="content2" style="display: none;">
    <div>
        <img src="{{ url_for('static', filename='img/add-outline.svg')}}" alt="Image 1"/>
    </div>
    <div>
        <p>
            100 pc
        </p>
    </div>
    <div>
        <img src="{{ url_for('static', filename='img/remove-outline.svg')}}" alt="Image 2"/>
    </div>
</div>

<script>
    function showContent1() {
        document.getElementById("content1").style.display = "block";
        document.getElementById("content2").style.display = "none";
    }

    function showContent2() {
        document.getElementById("content1").style.display = "none";
        document.getElementById("content2").style.display = "block";
    }

    document.getElementById("itemForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission
        showContent2(); // Show content 2
    });
</script>


