{% extends 'general/base.html' %} 

{% block content %}

<section class="hero is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <!-- {% include ('products/try.html') %} -->

            <!-- {% for category in range(3) %}
            <h2>Category</h2> -->
            <div class="columns is-multiline">
                <br />
                {% for product in products %}
                <div class="column is-one-third">
                    {% include ('products/product_card.html') %}
                </div>
                {% endfor %}
            </div>
            <!-- {% endfor %} -->
            
        </div>
    </div>
</section>

{% endblock content %}
