<div class="card is-shadowless">
    <div class="card-image has-relative-position">
        <figure class="image is-square">
            <img
                src="{{ url_for('static', filename=product.img_path)}}"
                alt="product-image"
            />
        </figure>
        <div class="has-absolute-position has-top-right-position">
            <form id="itemForm" action="#" method="POST">
                <button
                    type="submit"
                    class="add-button button is-primary is-rounded is-outlined has-text-weight-bold"
                >
                    <img
                        src="{{ url_for('static', filename='img/add-outline.svg')}}"
                        alt="add"
                    />
                    ADD TO CART
                </button>
            </form>
        </div>
    </div>
    <div class="columns is-aligned-top mt-1">
        <div class="column is-one-third has-text-left">
            <span class="card-content-item is-size-5 has-text-weight-bold"
                >${{ product.price }}.00</span
            >
        </div>
        <div class="column is-two-thirds has-text-right">
            <a class="card-content-item is-size-6" href="#"
                >{{ product.title }}</a
            >
        </div>
    </div>
</div>
