{% extends 'products/products_base.html' %}

{% block content_products %}

    {% if categories_data %}
    <div class="columns is-multiline">
        {% for category_data in categories_data %}
            {% for product in category_data['products'] %}
            <div class="column is-one-third">
                {% include ('products/includes/product_card.html') %}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% else %}

    <div class="columns is-multiline">
        {% for category_data in categories_data %}
            {% for product in category_data['products'] %}
            <div class="column is-one-third">
                {% include ('products/includes/product_card.html') %}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %} 

{% endblock content_products %}