:root {
    --primary: #004834;
    --primary-tint-1: #19614d;
    --primary-tint-2: #337b67;
    --primary-tint-3: #4c9480;

    --secondary: #f2a113;
    --secondary-tint-1: #ffc739;
    --secondary-tint-2: #ffd446;
    --secondary-tint-3: #ffed5f;

    --tertiary: #f4bfce;
    --tertiary-tint-1: #ffe5f4;
    --tertiary-tint-2: #fff2ff;
    --tertiary-tint-3: #ffffff;
    
    --grey: #000000;
    --grey-tint-1: #151a18;
    --grey-tint-2: #6b7673;
    --grey-tint-3: #9fa8a6;
}