<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bakery - {% block title %}{% endblock title %}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }} /> -->
        <!-- <script defer src="{{ url_for('static', filename='scripts/scripts.js') }}"></script> -->
    </head>

    <body>
        <h1 class="title">Bakery Website</h1>
        {% include('_navigation.html') %}
        <div>
            <h2 class="subtitle">{% block header %}{% endblock header %}</h2>
            {% block content %}
            <p>No products.</p>
            {% endblock content %}
        </div>
    </body>
</html>
