<footer class="section is-secondary-color">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <p
                    class="is-size-6 is-uppercase has-text-weight-bold my-5"
                >
                    About
                </p>

                <ul class="links about is-block is-vcentered">
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Our Story
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Products
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Create Your Own
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Locations
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column is-one-third">
                <p
                    class="is-size-6 is-uppercase has-text-weight-bold my-5"
                >
                    Connecting with us
                </p>

                <ul class="links contact is-inline-flex is-vcentered">
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <img
                                src="{{ url_for('static', filename='img/mail-outline.svg')}}"
                                alt="logo-instagram"
                            />
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <img
                                src="{{ url_for('static', filename='img/logo-twitter.svg')}}"
                                alt="logo-twitter"
                            />
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <img
                                class="footer-item"
                                src="{{ url_for('static', filename='img/logo-facebook.svg')}}"
                                alt="logo-facebook"
                            />
                        </a>
                    </li>

                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <img
                                src="{{ url_for('static', filename='img/logo-instagram.svg')}}"
                                alt="logo-instagram"
                            />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column is-one-third">
                <p
                    class="is-size-6 is-uppercase has-text-weight-bold my-5"
                >
                    Help
                </p>

                <ul class="links help is-block is-vcentered">
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Account
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Delivery
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container has-text-centered">
        <div class="columns is-centered">
            <div class="column is-9">
                <p id="copyright">
                    Website designed and created by Kate Kochina. The source
                    code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php"
                        >MIT</a
                    >.
                </p>
            </div>
        </div>
    </div>
</footer>
