{% extends 'general/base.html' %} 

{% block content %}

<section class="hero is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-flex is-justify-content-center">
                <div class="column is-8">
                    <figure class="image is-16by9">
                        <img
                            src="{{ url_for('static', filename='img/home.png')}}"
                            alt="home-img"
                        />
                    </figure>
                </div>
            </div>

            <div
                class="columns is-flex is-justify-content-center has-text-centered"
            >
                <div class="column is-6">
                    <h2 class="is-size-2 mb-4 is-secondary-color">
                        WELCOME TO THE BAKERY
                    </h2>
                    <p class="is-size-5 mb-6">
                        Embark on a delightful journey with our freshly crafted
                        delights, meticulously made from premium ingredients.
                        Enhance your moments with the irresistible allure of our
                        treats, ensuring a joyous and festive experience for you
                    </p>

                    <a class="button is-primary is-rounded is-outlined">
                        <strong>MAKE ORDER</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight has-primary-tint-1-background">
    <div class="hero-body">
        <div class="container">
            <div
                class="columns is-flex is-justify-content-center has-text-centered is-vcentered"
            >
                <div class="column is-4">
                    <figure class="image">
                        <img
                            src="{{ url_for('static', filename='img/create-own.png')}}"
                            alt="create-own-img"
                        />
                    </figure>
                </div>
                <div class="column is-1"></div>
                <div class="column is-5">
                    <p class="is-size-5 mb-6">
                        With the bakery, here is a space where you have the
                        opportunity to explore your imagination and craft your
                        own one-of-a-kind baked creations
                    </p>
                    <a class="button is-primary is-rounded is-outlined">
                        <strong>CREATE YOUR OWN</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
