@import url('variables.css');

body,
.card,
.navbar,
.navbar-menu {
    background-color: var(--primary);
    color: var(--tertiary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.is-secondary-color {
    color: var(--secondary);
}

.has-relative-position {
    position: relative;
}

.has-absolute-position {
    position: absolute;
}

.has-top-right-position {
    top: 10px;
    right: 10px;
}

.button {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: var(--primary);
}

.button.is-primary {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: var(--primary);
}

.button.is-primary.is-outlined {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: var(--primary);
}

.button.is-primary.is-outlined.is-focused,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus-visible {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary);
}

.button.is-warning {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary);
}

.button.is-warning.is-outlined {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary);
}

.button.is-warning.is-outlined.is-focused,
.button.is-warning.is-outlined.is-hovered,
.button.is-warning.is-outlined:focus,
.button.is-warning.is-outlined:hover,
.button.is-warning.is-outlined:focus-visible {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: var(--primary);
}

.navbar-brand img {
    height: 35px;
    max-height: 100%;
}

a.navbar-item,
a.footer-item,
a.level-item {
    background-color: var(--primary);
    color: var(--secondary);
    margin: auto 15px;
}

.card {
    padding: 15px;
}

.card-content-item {
    background-color: var(--primary);
    color: var(--tertiary);
}

a.card-content-item.is-active,
a.card-content-item:focus,
a.card-content-item:focus-within,
a.card-content-item:hover,
a.level-item.is-active:focus,
a.level-item.is-active:focus-within,
a.level-item.is-active:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.footer-item.is-active,
a.footer-item:focus,
a.footer-item:focus-within,
a.footer-item:hover,
#copyright a:hover,
a.level-item.is-active,
a.level-item:focus,
a.level-item:focus-within,
a.level-item:hover {
    background-color: var(--primary);
    color: var(--tertiary);
}

.navbar-burger {
    color: var(--secondary);
    height: inherit;
}

.navbar-burger:hover span {
    background-color: var(--tertiary);
}

#copyright {
    margin: 30px auto auto 15px;
    font-size: 10px;
}

#copyright a {
    color: var(--secondary);
}

ion-icon {
    color: var(--secondary);
}
