:root {
    --primary: #ffffff;

    --secondary: #f06e5a;
    --secondary-tint-1: #ff9480;
    --secondary-tint-2: #ffa18d;
    --secondary-tint-3: #ffbaa6;

    --tertiary: #034641;
    --tertiary-tint-1: #296c67;
    --tertiary-tint-2: #367974;
    --tertiary-tint-3: #4f928d;

    --grey: #9e9e9e;
    --grey-tint-1: #dedede;
}
