:root {
    --primary: #dcf0fa;
    --primary-tint-1: #f5ffff;
    --primary-tint-2: #ffffff;
    --primary-tint-3: #ffffff;

    --secondary: #f06e5a;
    --secondary-tint-1: #ff9480;
    --secondary-tint-2: #ffa18d;
    --secondary-tint-3: #ffbaa6;

    --tertiary: #034641;
    --tertiary-tint-1: #296c67;
    --tertiary-tint-2: #367974;
    --tertiary-tint-3: #4f928d;

    --grey: #9e9e9e;
    --grey-tint-1: #dedede;
    --grey-tint-2: #ffffff;
    --grey-tint-3: #ffffff;
}