<footer class="section is-secondary-color">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <p class="is-size-5 has-text-weight-bold is-uppercase my-5">
                    About
                </p>

                <ul class="links about is-block is-vcentered">
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href="{{ url_for('general.about')}}"
                        >
                            Our Story
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href="{{ url_for('products.show_products') }}"
                        >
                            Products
                        </a>
                    </li>
                    <li>
                        <a class="footer-item is-size-6" href="#">
                            Create Your Own
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href=""
                            target="_blank"
                        >
                            Locations
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column is-one-third">
                <p class="is-size-5 has-text-weight-bold is-uppercase my-5">
                    Connecting with us
                </p>

                <ul class="links contact is-inline-flex is-vcentered">
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <ion-icon
                                size="large"
                                name="mail-outline"
                            ></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <ion-icon
                                size="large"
                                name="logo-twitter"
                            ></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <ion-icon
                                size="large"
                                name="logo-facebook"
                            ></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a class="footer-item" href="" target="_blank">
                            <ion-icon
                                size="large"
                                name="logo-instagram"
                            ></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column is-one-third">
                <p class="is-size-5 has-text-weight-bold is-uppercase my-5">
                    Help
                </p>

                <ul class="links help is-block is-vcentered">
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href=""
                            target="_blank"
                        >
                            Account
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href=""
                            target="_blank"
                        >
                            Delivery
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer-item is-size-6"
                            href=""
                            target="_blank"
                        >
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container has-text-centered">
        <div class="columns is-centered">
            <div class="column is-9">
                <p id="copyright">
                    Website designed and created by Kate Kochina. The source
                    code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php"
                        >MIT</a
                    >.
                </p>
            </div>
        </div>
    </div>
</footer>
